/***** BASE STYLES *****/
body {
  font-family: "Source Sans Pro", sans-serif;
}

#hero {
  height: 710px;
}

#about, #portfolio {
  height: 600px;
}

/***** HEADER *****/
nav {
  display: flex;
  flex-direction: flex-end;
}

nav ul {
  display: flex;
  margin-top: 1.5em;
}

nav li {
  margin-right: 3em;
}

nav li:hover {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(200, 200, 255, .75);
  box-shadow: 0px 0px 10px 10px rgba(200, 200, 255, .75);
}

nav a {
  color: #b6bfbf;
  font-size: 1.3em;
  padding: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-information {
  background-color: #9faee2;
  border-radius: 10px;
  display: none;
  height: 100px;
  margin-left: 40px;
  margin-top: 20px;
  opacity: 0.6;
  width: 80%;
}

.contact-information ul li {
  display: inline-block;
  margin-top: 35px;
  padding-left: 18px;
  padding-right: 15px;
}

/***** HERO SECTION ****/
#hero {
  background: url('../img/sea.png') no-repeat;
  background-size: cover;
  display: flex;
}

#hero h2 {
  font-family: 'Salsa', serif;
  font-size: 3.1em;
  line-height: 1.2em;
  margin-left: 0.7em;
  padding: 10px 0;
}

h2 span {
  font-family: 'Sonsie One', serif;
  font-size: 0.8em;
}

/***** ABOUT SECTION *****/
#about {
  display: flex;
  width: 100%;
}

.first-about-section, .second-about-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  padding-left: 40px;
  width: 50%;
}

#about h2 {
  font-family:'Lora', serif;
  font-size: 36px;
}

#about p {
  color: #7f7f7f;
  font-size: 20px;
  line-height: 40px;
  padding-right: 50px;
  padding-top: 20px;
}

#about .philosophy {
  color: #000;
  font-family:'Lora', serif;
}

#about .previous-experience {
  color: #000;
  font-family:'Lora', serif;
}

#about ul li {
  color: #7f7f7f;
  font-size: 20px;
  line-height: 22px;
  padding-right: 50px;
  padding-top: 20px;
}

/***** PORTFOLIO *****/
#portfolio {
  background-color: #f2f7fa;
  display: flex;
  width: 100%;
  text-align: center;
}

.individual-project {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: 33%;
}

#portfolio img {
  height: 250px;
  padding-bottom: 30px;
  width: 250px;
}

#portfolio h3 {
  font-family:'Lora', serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  margin: 10px auto;
}

#portfolio p {
  color: #7f7f7f;
  font-size: 18px;
  line-height: 30px;
  padding: 0 35px;
}

#portfolio a {
  color: #04358A;
  text-decoration: none;
}

/***** FOOTER *****/
.contact-information-footer ul {
  margin: 20px 0;
  padding-left: 20px;
  text-align: center;
}

.contact-information-footer ul li {
  display: inline-block;
  padding-right: 30px;
}

#copyright {
  float: left;
  margin-left: 10px;
}
