#about {
  background-color: #f2f7fa;
  display: flex;
  width: 100%;
}

.first-about-section, .second-about-section {
  display: flex;
  flex-direction: column;
  padding: 60px 0 60px 40px;
  width: 50%;
}

.hidden-about-section {
  display: none;
}

#about h2 {
  font-family: $font-lora;
  font-size: 36px;
}

#about p {
  color: $color-gray-dark;
  font-family: $font-source-sans-pro;
  font-size: 20px;
  line-height: 40px;
  padding: 20px 50px 0 0;
}

#about {
  .philosophy, .skills {
    color: $color-black-lightened;
    font-family: $font-lora;
  }
}

@media screen and (max-width: $break-point-medium) {
  #about {
    flex-wrap: wrap;
  }

  .first-about-section, .second-about-section {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .first-about-section {
    padding-bottom: 30px;
  }

  .second-about-section {
    padding-top: 0;
  }
}

@media screen and (max-width: 840px) {
  .first-about-section, .second-about-section {
    display: none;
  }

  .hidden-about-section {
    display: block;
    padding: 20px;
  }

  h2.hidden-skills {
    padding-top: 20px;
  }
}

@media screen and (max-width: $break-point-small) {
  .hidden-about-section {
    padding: 10px;
  }

  #about {
    .intro-about-title, .hidden-skills {
    font-size: 26px;
    padding-top: 20px;
    text-align: center;
    }
  }

  #about p {
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
  }
}
