#introduction {
  display: flex;
  height: 400px;
  position: relative;
  width: 100%;
}

h1 {
  color: $color-black-lightened;
  font: {
    family: $font-lora;
    size: 2.8em;
    weight: bold;
  }
  margin-top: -4.8em;
  padding-left: 1em;
}

.rotating-words {
  display: inline-block;
	text-indent: 6px;
  vertical-align: top;
}

.rotating-words span {
  @include animation-rotation;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.rotating-words  span:nth-child(2) {
  @include animation-timing-2s;
}

.rotating-words  span:nth-child(3) {
  @include animation-timing-5s;
}

.rotating-words  span:nth-child(4) {
  @include animation-timing-7s;
}

@media screen and (max-width: $break-point-medium) {
  h1 {
    padding-left: 0.8em;
  }
}

@media screen and (max-width: $break-point-small) {
  h1 {
    padding-left: 0.5em;
  }

  .rotating-words {
    display: block;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-top: 25px;
    text-indent: 0;
  }
}
