body {
  background: url('../img/sea.png') no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}

#copyright {
  background-color: $color-off-white;
  float: left;
  font-family: $font-source-sans-pro;
  height: 30px;
  text-indent: 10px;
  width: 100%;
}
