nav {
  display: flex;
  justify-content: flex-end;
  ul {
    display: flex;
    margin-top: 1.5em;
    li {
      font-family: $font-source-sans-pro;
      margin-right: 3em;
      a {
        color: darken($color-blue-dark, 20%);
        font-size: 1.5em;
        font-weight: bold;
        padding: 0.3em;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

nav a:hover {
  color: lighten($color-blue-dark, 30%);
  border-bottom: 2px solid $color-black-lightened;
  padding-bottom: 0;
}

#hidden-contact-information {
  height: 260px;
  margin-right: 4.7em;
  text-align: right;
  position: relative;
  z-index: 1;
  ul li {
    padding-top: 1em;
  }
}

@media screen and (max-width: $break-point-medium) {
  header {
    height: 48px;
  }

  nav {
    display: none;
  }
}
