#portfolio {
  background-color: $color-off-white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  img {
    height: 280px;
    width: 280px;
  }
}

#portfolio article {
  background: lighten($color-blue-dark, 30%);
  border-radius: 150px;
  margin: 20px 20px 40px 20px;
  overflow: hidden;
  padding: 9px;
  position: relative;
  width: 280px;
  height: 280px;
  img {
    border-radius: 140px;
    left: 9px;
    position: absolute;
    top: 9px;
  }
}

#portfolio article h1 {
  color: $color-black-lightened;
  font-size: 24px;
  line-height: 25px;
  padding-left: 0px;
  position: absolute;
  text-align: center;
  top: 210px;
  width: 280px;
  z-index: 1;
  &:hover {
    display: none;
  }
}

.color-image {
  @include portfolio-transition;
  opacity: 0;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
}

#portfolio article:hover {
  background: lighten($color-blue-dark, 30%);
  border: 1px solid lighten($color-blue-dark, 30%);
}

@media only screen and (max-width: 680px) {
  #portfolio {
    img {
      height: 180px;
      width: 180px;
    }
  }

  #portfolio article {
    margin: 10px 10px;
    width: 180px;
    height: 180px;
  }

  #portfolio article h1 {
    font-size: 20px;
    height: 180px;
    top: 170px;
    width: 180px;
  }
}
