#portfolio {
  background-color: $color-off-white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.individual-project {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 30px 60px 30px;
  width: 350px;
}

#portfolio {
  img {
    height: 300px;
    width: 300px;
  }
  h3 {
    color: $color-black-lightened;
    font: {
      family: $font-lora;
      size: 24px;
      weight: 700;
    }
    margin: 10px auto;
  }
  p {
    color: $color-gray-dark;
    font-family: $font-source-sans-pro;
    font-size: 18px;
    line-height: 30px;
    width: 320px;
  }
  a {
    color: $color-gray-dark;
    font-family: $font-source-sans-pro;
    text-decoration: none;
    &:hover {
      color: $color-black-lightened;
    }
  }
}

.project-tools {
  padding-top: 10px;
}

.portfolio-links-container {
  width: 300px;
}

.portfolio-links {
  margin: 5px 0 20px 0;
  width: 300px;
}

.second-portfolio-link {
  float: right;
}

@media screen and (max-width: $break-point-medium) {
  #portfolio {
    flex-wrap: wrap;
    justify-content: center;
  }

  .individual-project {
    padding: 20px 0 20px 0;
  }
}

@media screen and (max-width: $break-point-small) {
  #portfolio p {
    font-size: 16px;
    text-align: center;
  }
}
