// FONTS
$font-salsa: 'Salsa', serif;

$font-lora: 'Lora', serif;

$font-source-sans-pro:'Source Sans Pro', sans-serif;


// COLORS
$color-blue-dark: #083fa3;

$color-black-lightened: #020203;

$color-gray-dark: #7f7f7f;

$color-off-white: #fefefe;
