/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora|Salsa|Source+Sans+Pro");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url("../img/sea.png") no-repeat fixed;
  background-size: cover;
  overflow-x: hidden; }

#copyright {
  background-color: #fefefe;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0 10px 10px;
  width: 100%; }

nav {
  display: flex;
  justify-content: flex-end; }
nav ul {
  display: flex;
  margin-top: 1.5em; }
nav ul li {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 3em; }
nav ul li a {
  color: #031942;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em;
  text-decoration: none;
  text-transform: uppercase; }

nav a:hover {
  color: #4e8af6;
  border-bottom: 2px solid #020203;
  padding-bottom: 0; }

#hidden-contact-information {
  height: 260px;
  margin-right: 4.3em;
  text-align: right; }
#hidden-contact-information ul li {
  padding-top: 1em; }

#introduction {
  display: flex;
  height: 640px;
  width: 100vw;
  margin-top: -15em;
  padding-left: 2em;
  position: relative; }

h1 {
  color: #020203;
  font-family: "Salsa", serif;
  font-size: 2.8em;
  margin: 0 9em 15em 0; }

.rotating-words {
  display: inline-block;
  text-indent: 6px;
  vertical-align: top; }

.rotating-words span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute; }

.rotating-words span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s; }

.rotating-words span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s; }

.rotating-words span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s; }

@-moz-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px); }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
#portfolio {
  background-color: #fefefe;
  display: flex;
  height: 700px;
  width: 100%; }

.individual-project {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 0;
  width: 33%; }

#portfolio img {
  height: 300px;
  padding-bottom: 20px;
  width: 300px; }
#portfolio h3 {
  color: #020203;
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 700;
  margin: 10px auto; }
#portfolio p {
  color: #7f7f7f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 30px;
  width: 320px; }
#portfolio a {
  color: #020203;
  text-decoration: none; }
#portfolio a:hover {
  color: #083fa3;
  font-weight: bold; }

.project-tools {
  padding-top: 10px; }

#about {
  background-color: #f2f7fa;
  display: flex;
  width: 100%; }

.first-about-section, .second-about-section {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  padding-left: 40px;
  width: 50%; }

#about h2 {
  font-family: "Lora", serif;
  font-size: 36px; }

#about p {
  color: #7f7f7f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 40px;
  padding-right: 50px;
  padding-top: 20px; }

#about .philosophy, #about .previous-experience {
  color: #020203;
  font-family: "Lora", serif; }

#about ul li {
  color: #7f7f7f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 22px;
  padding: 20px 50px 0 0; }

footer {
  background-color: #fefefe;
  height: 75px;
  width: 100%; }

footer ul {
  padding-top: 20px;
  text-align: center; }

footer ul li {
  display: inline-block;
  padding: 0 15px 0 15px; }

img:hover {
  transform: scale(1.1); }

/*# sourceMappingURL=main.css.map */
