/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-moz-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  background: url("../img/sea.png") no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}

#copyright {
  background-color: #fefefe;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  height: 30px;
  text-indent: 10px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  margin-top: 1.5em;
}
nav ul li {
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 3em;
}
nav ul li a {
  color: #031942;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #4e8af6;
  border-bottom: 2px solid #020203;
  padding-bottom: 0;
}

#hidden-contact-information {
  height: 260px;
  margin-right: 4.7em;
  text-align: right;
  position: relative;
  z-index: 1;
}
#hidden-contact-information ul li {
  padding-top: 1em;
}

@media screen and (max-width: 990px) {
  header {
    height: 48px;
  }

  nav {
    display: none;
  }
}
#introduction {
  display: flex;
  height: 400px;
  position: relative;
  width: 100%;
}

h1 {
  color: #020203;
  font-family: "Lora", serif;
  font-size: 2.8em;
  font-weight: bold;
  margin-top: -4.8em;
  padding-left: 1em;
}

.rotating-words {
  display: inline-block;
  text-indent: 6px;
  vertical-align: top;
}

.rotating-words span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.rotating-words span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.rotating-words span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.rotating-words span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

@media screen and (max-width: 990px) {
  h1 {
    font-size: 2.5em;
    padding-left: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  h1 {
    padding-left: 0.5em;
  }

  .rotating-words {
    display: block;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-top: 25px;
    text-indent: 0;
  }
}
#portfolio {
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#portfolio img {
  height: 280px;
  width: 280px;
}

#portfolio article {
  background: #e0eafd;
  border-radius: 150px;
  margin: 20px 20px 40px 20px;
  overflow: hidden;
  padding: 9px;
  position: relative;
  width: 280px;
  height: 280px;
}
#portfolio article img {
  border-radius: 140px;
  left: 9px;
  position: absolute;
  top: 9px;
}

#portfolio article h1 {
  color: #020203;
  font-size: 24px;
  line-height: 25px;
  padding-left: 0px;
  position: absolute;
  text-align: center;
  top: 210px;
  width: 280px;
  z-index: 1;
}
#portfolio article h1:hover {
  display: none;
}

.color-image {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  opacity: 0;
  z-index: 1;
}
.color-image:hover {
  opacity: 1;
}

#portfolio article:hover {
  background: #4e8af6;
  border: 1px solid #4e8af6;
}

@media only screen and (max-width: 680px) {
  #portfolio img {
    height: 180px;
    width: 180px;
  }

  #portfolio article {
    margin: 10px 10px;
    width: 180px;
    height: 180px;
  }

  #portfolio article h1 {
    font-size: 20px;
    height: 180px;
    top: 170px;
    width: 180px;
  }
}
#about {
  background-color: #f2f7fa;
  display: flex;
  width: 100%;
}

.first-about-section, .second-about-section {
  display: flex;
  flex-direction: column;
  padding: 60px 0 60px 40px;
  width: 50%;
}

.hidden-about-section {
  display: none;
}

#about h2 {
  font-family: "Lora", serif;
  font-size: 36px;
}

#about p {
  color: #7f7f7f;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 40px;
  padding: 20px 50px 0 0;
}

#about .philosophy, #about .skills {
  color: #020203;
  font-family: "Lora", serif;
}

@media screen and (max-width: 990px) {
  #about {
    flex-wrap: wrap;
  }

  .first-about-section, .second-about-section {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .first-about-section {
    padding-bottom: 30px;
  }

  .second-about-section {
    padding-top: 0;
  }
}
@media screen and (max-width: 840px) {
  .first-about-section, .second-about-section {
    display: none;
  }

  .hidden-about-section {
    display: block;
    padding: 20px;
  }

  h2.hidden-skills {
    padding-top: 20px;
  }
}
@media screen and (max-width: 450px) {
  .hidden-about-section {
    padding: 10px;
  }

  #about .intro-about-title, #about .hidden-skills {
    font-size: 26px;
    padding-top: 20px;
    text-align: center;
  }

  #about p {
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
  }
}
footer {
  background-color: #fefefe;
  height: 100px;
  width: 100%;
}

footer ul {
  padding-top: 20px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 15px 0 15px;
}

footer img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 450px) {
  footer ul li {
    padding: 0 3px 0 3px;
  }
}

/*# sourceMappingURL=main.css.map */
